body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:422px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12513 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:132px;
  width:392px;
  height:645px;
  overflow:hidden;
}
#u12513_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:645px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(246, 246, 246, 1);
  background-image:none;
}
#u12513_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:121px;
}
#u12515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:373px;
  height:121px;
}
#u12515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
}
#u12516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:595px;
  width:373px;
  height:48px;
}
#u12516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u12517 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:131px;
  width:43px;
  height:43px;
}
#u12517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12518 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:137px;
  width:375px;
  height:45px;
  overflow:hidden;
}
#u12518_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12518_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12519_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:69px;
  height:25px;
}
#u12519 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:11px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#333333;
}
#u12519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12522_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:48px;
  height:48px;
}
#u12522 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:44px;
  height:44px;
}
#u12522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12524_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:18px;
  height:18px;
}
#u12524 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:14px;
  height:14px;
}
#u12524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12525_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:18px;
  height:18px;
}
#u12525 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:14px;
  height:14px;
}
#u12525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
