body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:430px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7776 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:132px;
  width:392px;
  height:667px;
  overflow:hidden;
}
#u7776_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:667px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u7776_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7779 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:61px;
  width:78px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7780 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:64px;
  width:62px;
  height:17px;
  font-size:12px;
}
#u7780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u7781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:391px;
  height:44px;
}
#u7781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u7783 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:160px;
  width:1px;
  height:40px;
  opacity:0.5;
}
#u7783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:86px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  font-size:18px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u7785 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:103px;
  width:333px;
  height:86px;
  font-size:18px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u7785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:86px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  color:#FFFFFF;
  line-height:28px;
}
#u7786 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:103px;
  width:119px;
  height:86px;
  color:#FFFFFF;
  line-height:28px;
}
#u7786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:115px;
  word-wrap:break-word;
}
#u7787_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:22px;
  height:17px;
}
#u7787 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:143px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7788 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:103px;
  width:217px;
  height:86px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7788_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u7789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7790_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7790 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:139px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7791_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7791 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:132px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7792_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7792 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:126px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7793_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7793 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:119px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7794_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7794 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:113px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7795_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7795 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:106px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7796_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7796 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:178px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7797_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7797 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:171px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7798_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7798 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:165px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7799_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7799 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:158px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7800_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7800 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:152px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7801_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7801 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:145px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7802_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7802 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:184px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7803_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:22px;
  height:17px;
}
#u7803 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:143px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u7804 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:113px;
  width:34px;
  height:18px;
  font-size:8px;
  color:#FFFFFF;
}
#u7804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u7805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1ABC9C;
}
#u7805 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:133px;
  width:55px;
  height:22px;
  font-size:12px;
  color:#1ABC9C;
}
#u7805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u7806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7807 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:169px;
  width:17px;
  height:17px;
}
#u7807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7808 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:175px;
  width:5px;
  height:5px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7809 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:175px;
  width:5px;
  height:5px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u7810 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:164px;
  width:200px;
  height:1px;
}
#u7810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u7811 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:169px;
  width:41px;
  height:16px;
  font-size:10px;
  color:#999999;
}
#u7811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u7813 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:263px;
  width:1px;
  height:40px;
  opacity:0.5;
}
#u7813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(153, 153, 153, 0.349019607843137);
  font-size:12px;
  text-align:left;
}
#u7814 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:290px;
  width:338px;
  height:37px;
  font-size:12px;
  text-align:left;
}
#u7814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:334px;
  word-wrap:break-word;
}
#u7815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:86px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  font-size:18px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u7816 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:206px;
  width:333px;
  height:86px;
  font-size:18px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u7816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:86px;
  background:-webkit-linear-gradient(0deg, rgba(255, 205, 66, 1) 0%, rgba(255, 205, 66, 1) 0%, rgba(224, 181, 99, 1) 100%, rgba(224, 181, 99, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(255, 205, 66, 1) 0%, rgba(255, 205, 66, 1) 0%, rgba(224, 181, 99, 1) 100%, rgba(224, 181, 99, 1) 100%);
  background:linear-gradient(90deg, rgba(255, 205, 66, 1) 0%, rgba(255, 205, 66, 1) 0%, rgba(224, 181, 99, 1) 100%, rgba(224, 181, 99, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  color:#FFFFFF;
  line-height:28px;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:206px;
  width:119px;
  height:86px;
  color:#FFFFFF;
  line-height:28px;
}
#u7817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:115px;
  word-wrap:break-word;
}
#u7818_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:22px;
  height:17px;
}
#u7818 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:246px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7819 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:206px;
  width:217px;
  height:86px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7819_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u7820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7821_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7821 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:242px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7822_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7822 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:235px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7823_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7823 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:229px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7824_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7824 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:222px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7825_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7825 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:216px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7826_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7826 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:209px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7827_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7827 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:281px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7828_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7828 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:274px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7829_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7829 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:268px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7830_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7830 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:261px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7831_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7831 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:255px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7832_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7832 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:248px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7833_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:16px;
  height:13px;
}
#u7833 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:287px;
  width:6px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7834_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:22px;
  height:17px;
}
#u7834 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:246px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u7835 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:236px;
  width:55px;
  height:22px;
  font-size:12px;
  color:#FFCD42;
}
#u7835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u7836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7837 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:272px;
  width:17px;
  height:17px;
}
#u7837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7838 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:278px;
  width:5px;
  height:5px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7839 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:278px;
  width:5px;
  height:5px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u7840 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:267px;
  width:200px;
  height:1px;
}
#u7840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:-webkit-linear-gradient(0deg, rgba(255, 205, 66, 1) 0%, rgba(255, 205, 66, 1) 0%, rgba(224, 181, 99, 1) 100%, rgba(224, 181, 99, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(255, 205, 66, 1) 0%, rgba(255, 205, 66, 1) 0%, rgba(224, 181, 99, 1) 100%, rgba(224, 181, 99, 1) 100%);
  background:linear-gradient(90deg, rgba(255, 205, 66, 1) 0%, rgba(255, 205, 66, 1) 0%, rgba(224, 181, 99, 1) 100%, rgba(224, 181, 99, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u7841 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:215px;
  width:34px;
  height:18px;
  font-size:8px;
  color:#FFFFFF;
}
#u7841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u7842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7843 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:352px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:355px;
  width:62px;
  height:17px;
  font-size:12px;
}
#u7844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u7845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:547px;
  width:391px;
  height:44px;
}
#u7845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:74px;
}
#u7846 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:392px;
  width:335px;
  height:74px;
}
#u7846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
  background:inherit;
  background-color:rgba(241, 143, 42, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7847 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:404px;
  width:160px;
  height:54px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:160px;
  word-wrap:break-word;
}
#u7848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7849_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-6px;
  width:345px;
  height:90px;
}
#u7849 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:476px;
  width:335px;
  height:80px;
}
#u7849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:27px;
  background:inherit;
  background-color:rgba(230, 90, 44, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7850 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:503px;
  width:170px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u7851 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:137px;
  width:375px;
  height:45px;
  overflow:hidden;
}
#u7851_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7851_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u7852 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:11px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#333333;
}
#u7852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u7855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7857 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:9px;
  width:14px;
  height:14px;
}
#u7857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7858 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:14px;
  height:14px;
}
#u7858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u7861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:430px;
  height:101px;
}
#u7861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u7862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:30px;
  height:663px;
}
#u7862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u7863 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:111px;
  width:26px;
  height:663px;
}
#u7863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u7864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:774px;
  width:430px;
  height:102px;
}
#u7864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7866 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:110px;
  width:375px;
  height:27px;
}
#u7866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7867 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:118px;
  width:360px;
  height:11px;
}
#u7867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
