body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:422px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12122 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:392px;
  height:667px;
  overflow:hidden;
}
#u12122_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:667px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
}
#u12122_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12124 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:2016px;
  width:30px;
  height:30px;
}
#u12124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12125_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:380px;
  height:35px;
}
#u12125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2050px;
  width:375px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u12125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:375px;
  word-wrap:break-word;
}
#u12126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2090px;
  width:375px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1986px;
  width:375px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12128_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:386px;
  height:118px;
}
#u12128 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:65px;
  width:382px;
  height:114px;
}
#u12128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12130_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:118px;
  height:24px;
}
#u12130 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:87px;
  width:114px;
  height:20px;
  color:#333333;
}
#u12130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u12131_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:87px;
  height:21px;
}
#u12131 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:117px;
  width:83px;
  height:17px;
  font-size:12px;
}
#u12131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:78px;
}
#u12132 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:83px;
  width:92px;
  height:78px;
}
#u12132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12134_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:377px;
  height:60px;
}
#u12134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:370px;
  height:53px;
}
#u12134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:36px;
}
#u12135 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:197px;
  width:23px;
  height:36px;
}
#u12135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12136_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:47px;
  height:24px;
}
#u12136 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:205px;
  width:43px;
  height:20px;
}
#u12136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
}
#u12137 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:205px;
  width:18px;
  height:26px;
}
#u12137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12139_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:377px;
  height:60px;
}
#u12139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:241px;
  width:370px;
  height:53px;
}
#u12139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12140_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:24px;
}
#u12140 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:258px;
  width:57px;
  height:20px;
}
#u12140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u12141 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:254px;
  width:26px;
  height:28px;
}
#u12141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
}
#u12142 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:254px;
  width:18px;
  height:26px;
}
#u12142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12143 {
  position:absolute;
  left:30px;
  top:137px;
}
#u12143_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background-image:none;
}
#u12143_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12144_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:382px;
  height:52px;
}
#u12144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  line-height:28px;
}
#u12144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u12145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:45px;
}
#u12145 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:20px;
  height:45px;
}
#u12145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
