body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-29px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:607px;
}
#u6952 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:170px;
  width:376px;
  height:607px;
  color:#391F01;
}
#u6952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6953 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:137px;
  width:375px;
  height:45px;
  overflow:hidden;
}
#u6953_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u6953_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6956 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:44px;
  height:44px;
}
#u6956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6958 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:14px;
  height:14px;
}
#u6958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6959 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:14px;
  height:14px;
}
#u6959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u6960 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1px;
  width:81px;
  height:45px;
  font-size:16px;
  color:#333333;
}
#u6960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:81px;
  white-space:nowrap;
}
#u6961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(253, 144, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E3501;
}
#u6961 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:702px;
  width:117px;
  height:20px;
  color:#5E3501;
}
#u6961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u6962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(253, 248, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6666;
  text-align:center;
}
#u6962 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:552px;
  width:139px;
  height:21px;
  font-size:16px;
  color:#FF6666;
  text-align:center;
}
#u6962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u6963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(253, 248, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E3501;
}
#u6963 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:373px;
  width:155px;
  height:20px;
  color:#5E3501;
}
#u6963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(174, 106, 17, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u6964 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:312px;
  width:167px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u6965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:50px;
  background:-webkit-linear-gradient(0deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 183, 50, 1) 98%, rgba(251, 183, 50, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 183, 50, 1) 98%, rgba(251, 183, 50, 1) 100%);
  background:linear-gradient(90deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 183, 50, 1) 98%, rgba(251, 183, 50, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u6965 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:250px;
  width:287px;
  height:50px;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u6965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u6966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
  background:-webkit-linear-gradient(0deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 199, 63, 1) 98%, rgba(251, 199, 63, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 199, 63, 1) 98%, rgba(251, 199, 63, 1) 100%);
  background:linear-gradient(90deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 199, 63, 1) 98%, rgba(251, 199, 63, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#F94D1F;
  text-align:center;
}
#u6966 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:200px;
  width:128px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#F94D1F;
  text-align:center;
}
#u6966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u6967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u6967 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:597px;
  width:81px;
  height:16px;
}
#u6967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
