body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:607px;
}
#u6904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:376px;
  height:607px;
  color:#391F01;
}
#u6904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6905 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:45px;
  overflow:hidden;
}
#u6905_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u6905_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6908 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:44px;
  height:44px;
}
#u6908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6910 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:14px;
  height:14px;
}
#u6910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6911 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:14px;
  height:14px;
}
#u6911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u6912 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1px;
  width:81px;
  height:45px;
  font-size:16px;
  color:#333333;
}
#u6912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:81px;
  white-space:nowrap;
}
#u6913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(253, 144, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E3501;
}
#u6913 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:565px;
  width:117px;
  height:20px;
  color:#5E3501;
}
#u6913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u6914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(253, 248, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6666;
  text-align:center;
}
#u6914 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:415px;
  width:139px;
  height:21px;
  font-size:16px;
  color:#FF6666;
  text-align:center;
}
#u6914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u6915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(253, 248, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E3501;
}
#u6915 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:236px;
  width:155px;
  height:20px;
  color:#5E3501;
}
#u6915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(174, 106, 17, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u6916 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:175px;
  width:167px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u6917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:50px;
  background:-webkit-linear-gradient(0deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 183, 50, 1) 98%, rgba(251, 183, 50, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 183, 50, 1) 98%, rgba(251, 183, 50, 1) 100%);
  background:linear-gradient(90deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 183, 50, 1) 98%, rgba(251, 183, 50, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u6917 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:113px;
  width:287px;
  height:50px;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u6917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u6918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
  background:-webkit-linear-gradient(0deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 199, 63, 1) 98%, rgba(251, 199, 63, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 199, 63, 1) 98%, rgba(251, 199, 63, 1) 100%);
  background:linear-gradient(90deg, rgba(251, 181, 51, 1) 0%, rgba(251, 181, 51, 1) 0%, rgba(251, 199, 63, 1) 98%, rgba(251, 199, 63, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#F94D1F;
  text-align:center;
}
#u6918 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:63px;
  width:128px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#F94D1F;
  text-align:center;
}
#u6918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u6919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u6919 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:460px;
  width:81px;
  height:16px;
}
#u6919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
